
@{
    ViewData["Title"] = "AddAnswerForm";
}

<h1>Add Answer Form</h1>

<form method="post" action="/answers/addanswer">

    Username: <input type="text" name="username" /><br />
    Detail: <input type="text" name="detail" /><br />
    Question ID: <input type="text" name="questionID" /><br />
    
    <input type="submit" />

</form>

