
@{
    ViewData["Title"] = "AskQuestionForm";
}

<h1>Ask Question Form</h1>

<form method="post" action="/questions/AddQuestion">
    
    username: <input type="text" name="username" /><br />
    Title of Question: <input type="text" name="title" /><br />
    Details: <input type="text" name="detail" /><br />
    Category: <input type="text" name="category" /><br />
    Tags: <input type="text" name="tags" /><br />
    Status of Question: <input type="text" name="status" /><br />
    
    <input type="submit" />
</form>